<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Войти в аккаунт</title>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/login.css">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <h2>Страница не найдена</h2>

            <p style="text-align: center;"><a href="/">Вернуться на главную страницу</a></p>
        </main>
    </body>
</html>